<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-xs-11 mx-auto">
      {{#each articles}}
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            {{title}}
          </h2>
          <h3 class="post-subtitle">
            {{content}}
          </h3>
          {{#if imgs}}
          <div class="container">
            {{#equals imgs/length 1}}
            <img src="img/res/20180122151143.jpg" style="max-width:100%" /> {{else}}
            <div class="row col-xs-12 col-sm-10 col-md-8">
              {{#each imgs}}
              <div class="col-xs-4 col-sm-4 col-md-4" style="padding-left:5px;padding-right:0px;padding-bottom:5px">
                <div style="width: 100%;height: 0px;padding-bottom: 100%;overflow:hidden;margin: 0;position:relative;
                        background-image: url(img/res/20180122151149.jpg);background-size: cover;background-position:center center">
                </div>
              </div>
              {{/each}}
            </div>
            {{/equals}}
          </div>
          {{/if}}
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a>
          on September 24, 2018</p>
      </div>
      <hr> {{/each}}

      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>