<script type="text/javascript">
  function login(username, password) {
    username = username || $("#inputName").val();
    password = password || $("#inputPassword").val();
    fetch('/signin', {
      method: 'POST',
      headers: {
        'content-type':'application/json'
      },
      body: JSON.stringify({
        username: username,
        password: password
      }),
      credentials: "include",
    }).then(function (res) {　　
      console.log(res);
      if(res.status == 200) {
         window.location.href = res.url;
         saveUserInfo(username, password);
      } else {
        return res.text();
      }
    }).then(function (text) {
      console.log(text);
    });
    return false;
  }

  function saveUserInfo(username, password) {
    document.cookie = "%^&" + username + "=" + password + "%^&";
  }

  function getUserInfo() {
    console.log(document.cookie);
    let reg = /%\^&(.*)=(.*)%\^&/;
    let mt = document.cookie.match(reg);
    console.log(mt);
    if(mt.length == 3) {
      return {
        username : mt[1],
        password : mt[2]
      };
    }
  }

  $(() => {
    console.log("page inited");
    let userInfo = getUserInfo();
    console.log(userInfo);
    if(userInfo) {
      login(userInfo.username, userInfo.password);
    }
  })
</script>

<div class="container">
  <div class="row">
    <form class="form-signin" method="post" action="signin" onsubmit="return login()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputName" name="username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>